/* ================================= 
  Body Content Styles
==================================== */

/* .container {
    border: 1px solid #000;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
} */

.content-1 {
    display: flex;
    justify-content: center;
}

.info {
    margin: 0 auto;
    text-align: center;
}

.monitor {
    display: none;
}

/* ---- Canvas ---- */
#cvs {
    /* border: 1px solid #000;	 */
    display: block;
    margin: 20px auto 0 auto;
    background-color: #fff;
    border-radius: 10px;
    cursor: crosshair;
    box-shadow: 2px 2px 10px black;	
}


/* ---- Ranking List ---- */
#ranking-list {
    width: 150px;
    height: 500px;
    margin: 20px 30px 20px 0;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    overflow: auto;
}
.ranking-user-id {
    font-size: 16pt;
    font-weight: bold;
    color: silver;
}
.ranking-score {
    font-size: 14pt;
    color: #000;
}



/* ---- Chat Box ---- */
.chatBox {
    /* border: 1px solid #000; */
    width: 200px;
    height: 500px;
    margin: 20px 0 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 2px 2px 10px black;
}
#chat-content {
    padding-bottom: 5px;
    /* border-bottom: 1px solid #000; */
    height: 90%;
    overflow: auto;
    word-break: break-all;
}
#chat-input {
    width: 100%;
    margin: 0px auto;
    padding-left: 8px;
    border-radius: 8px;
}
.chat-user {
    /* font-size: 18pt; */
    font-weight: bold;
    color: slateblue;
}
.chat-message {
    /* font-size: 14pt; */
    color: rgb(109, 109, 109);
}
.correct-message {
    /* font-size: 14pt; */
    font-weight: bold;
    color: rgb(43, 185, 43);
}


/* ---- Timer ---- */
.draw-board {
    position: relative;
}
#outer-timer {
    width: 450px;
    height: 10px;
    border: 1px solid silver;
    position: relative;
    margin: 15px auto 15px auto;
    border-radius: 5px;
}
/* .draw-timer-start {
    width: 450px;
    height: 8px;
    position: relative;
    background-color: lightskyblue;
    margin: 0 auto;
    z-index: 1;
    transition-property: none;
    //transition-duration: 100ms;
}
.draw-timer-end {
    width: 0px;
    height: 8px;
    position: relative;
    background-color: lightcoral;
    margin-left: 0;
    z-index: 1;
    transition-property: width, background-color;
    transition-duration:9900ms;
    transition-timing-function: linear;
}
.answer-timer-start {
    width: 450px;
    height: 8px;
    position: relative;
    background-color: silver;
    margin: 0 auto;
    z-index: 1;
    transition-property: none;
    //transition-duration: 100ms;

}
.answer-timer-end {
    width: 0px;
    height: 8px;
    position: relative;
    background-color: silver;
    margin-left: 0;
    z-index: 1;
    transition-property: width, background-color;
    transition-duration:4400ms;
    transition-timing-function: linear;

} */
.draw-timer {
    width: 0px;
    height: 8px;
    position: relative;
    background-color: papayawhip;
    margin-left: 0;
    border-radius: 4px;
    z-index: 1;
    animation: drawCountdown 49s linear;
}
.middle-timer {
    width: 0px;
    height: 8px;
    position: relative;
    background-color: lightgray;
    margin-left: 0;
    border-radius: 4px;
    z-index: 1;
    animation: middleCountdown 5s linear;
}
@keyframes drawCountdown {
    0% {
        width: 450px;
        background-color: papayawhip;
        display: inline;
    }
    100% {
        width: 0px;
        background-color: lightcoral;
        display: none;
    }
}
@keyframes middleCountdown {
    0% {
        width:450px;
    }
    100% {
        width:0px;
    }
}

/* ---- Tool Bar ---- */
.tool-bar {
    width: 500px;
    height: 80px;
    background-color: navy;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color-set {
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 30px;
}
.div2 {
    margin-right: 30px;
}
.square {
	width: 18px;
    height: 18px;
    border-radius: 4px;
    margin: 2px 2px;
    cursor: pointer;
}
#color-picker {
    cursor: pointer;
}
#eraser {
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#clear-all {
    height: 25px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.fa-pencil-alt {
    color: #fff;
}

