/* ================================= 
  Body Content Styles
==================================== */
/* ---- Header ---- */
.web-title {
	color: #fff;
	text-align: center;
	font-size: 48px;
	letter-spacing: 2.5px;
	margin-top: 10vh;
}

/* ---- Card ---- */
/* .container {
    width: 900px;
    height: 500px;
    background-color: none;
    border-radius: 15px;
} */
.card {
    border: none;
    border-radius: 10px;
}
.user-input {
    justify-content: center;
}
.user-photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
}
.card-img-top {
    max-width: 280px;
    width: 280px;
    margin-left: -39%;
    margin-top: -17%;
}
#play-button{
    margin-top: 20px;
}

/* ---- Room List ---- */
.room-list {
    height: 380px;
    background-color: lightsteelblue;
    border-radius: .25rem;
    overflow: auto;
    padding-bottom: 2%;
}
.room-list-item {
    width: 96%;
    margin: 2% auto 0 auto;
    border-radius: .25rem;
    cursor: pointer;
}
.roomId {
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 87, 87);
}
.client-num {
    color: gray;
}